<div class="page">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div class="container balances">
        <ul class="balances-list">

        </ul>
    </div>
    <div class="container totals">
        <h1 class="totals-label">
            TOTALS:
        </h1>
        <div class="totals-info">
        </div>
    </div>
    <div class="container timer">
        <div class="time-title">
            Round starts in:
        </div>
        <div class="round-time">
        </div>
    </div>
    <div class="container feature">
        <div class="btc-price-label">
            CURRENT BTC PRICE:
        </div>
        <div class="btc-price-now">
        </div>
    </div>
    <div class="container meta">
        <div class="sponsors">
            Sponsors go here maybe?
        </div>
        <div class="test-mode">CURRENTLY IN TEST MODE. NO TRADES BEING EXECUTED</div>
        <div class="twitter">
            Twitter - {{twitter}}
        </div>
        <img class='btc-qr' src="/images/btc.png">
    </div>
    <div class="container vote-totals">

    </div>

    <div class="container vote-history">

    </div>
</div>