<div class="page">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div class="container balances">
        <ul class="balances-list">

        </ul>
    </div>
    <div class="container totals">
        <h1 class="totals-label">
            TOTAL PORTFOLIO VALUE:
        </h1>
        <div class="totals-info">
        </div>
    </div>
    <div class="container timer">
        <div class="time-title">
            Round starts in:
        </div>
        <div class="round-time">
        </div>
    </div>
    <div class="container feature">
        <div class="btc-price-label">
            CURRENT BTC PRICE:
        </div>
        <div class="btc-price-now">
        </div>
        <div class="last-winner-label" style="display:none;">
            LAST ROUND'S WINNER:
        </div>
        <div class="last-winner-info">

        </div>
    </div>
    <div class="container meta">
        <div class="sponsors">
            Sponsors go here maybe?
        </div>
        <div class="twitter">
            Twitter - {{twitter}}
        </div>
        <div class="rules">
            HOW TO PLAY: <br />
            type !buy or !sell then a coin symbol to vote (one vote per person per round) <br />
            Your votes determine real buy and sell orders of real cryptocurrency!
        </div>
        <img class='btc-qr' src="/images/btc.png">
    </div>
    <div class="container vote-totals">
        <h2 class="vote-totals-label">
            Vote totals:
        </h2>
        <ul class="vote-totals-list">
        </ul>
    </div>

    <div class="container vote-history">
        <h2 class="vote-history-label">
            Vote history:
        </h2>
        <ul class="vote-history-list">
        </ul>
    </div>
</div>